<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D70B02E1E242BA900B81EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D70B0421E242BAA00B81EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D70B04D1E242BAA00B81EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
